:root {

  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-color: #eceaea;
  --text-color: #000;
  --border-color: #ddd;
  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}
.background-container {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  transition: background-image 1s ease-in-out;
}


a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100vh;
}

.container h2{
  font-size: 3rem;
  color: rgb(245, 1, 1);
  font-family: Arial, sans-serif;
  background-color: #0d0d0e;
  opacity: 0.8;

}

.row {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 2rem;
}

.item-form-container,
.accounts-container {
  width: 80%;
  max-width: 800px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #0d0d0e;
  opacity: 0.8;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: hsl(0, 3%, 7%);
    --text-color: #fff;
    --border-color: #888;
  }
}

.account {
  width: 100%;
  max-width: 600px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 20px;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 20px auto; /* Agrega esta propiedad para centrar horizontalmente */
}
.h2acount {
  text-align: center;}
.account ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.account li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  padding: 10px 0;
}

.account li:last-child {
  border-bottom: none;
}

.account .total-value {
  margin-top: 10px;
  font-weight: bold;
}
.delete-account {
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  background-color: #dc3545;
  color: #0a0a0a;
  cursor: pointer;
}

.item-form {
  width: 80%;
  max-width: 800px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  background-color: #0d0d0e;
  opacity: 0.8;
}

.item-form form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.item-form input {
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  flex-basis: 20%;
}

.item-form .name-input {
  flex-basis: 40%;
}

.item-form .value-input {
  flex-basis: 20%;
}

.item-form .date-input {
  flex-basis: 20%;
}

.item-form button {
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.item-form ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.item-form li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.item-form li:last-child {
  border-bottom: none;
}

.item-form button.edit {
  background-color: #17a2b8;
}

.item-form button.delete {
  background-color: #dc3545;
}

.item-form .total-value {
  margin-top: 10px;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .item-form form {
    flex-direction: column;
  }
  
  .item-form input {
    flex-basis: 100%;
  }
  
  .item-form .name-input, 
  .item-form .value-input, 
  .item-form .date-input {
    flex-basis: 100%;
  }
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}
nav {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: relative;
}

.logo {
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
  color: #fff;  
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.menu li {
  margin: 0 10px;
}

.menu a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

.menu a:hover {
  background-color: #fff;
  color: #333;
}


@media only screen and (max-width: 600px) {
  .item-form form {
    flex-direction: column;
  }

  .item-form input {
    flex-basis: 100%;
  }

  .item-form .name-input,
  .item-form .value-input,
  .item-form .date-input {
    flex-basis: 100%;
  }
}

.item-form .checkbox-input {
  margin-right: 10px;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background-color: white;
  width: 400px;
  padding: 20px;
  border-radius: 8px;
  position: relative;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #999;
  cursor: pointer;
}
